.navbar-brand{
    font-weight: 900;
    color: blue;
    font-size: 1.5em;
 }
 #carouselExampleCaptions, .container{
     width: 80vw;
 }
.carousel-item img{
 height: 85vh;
 
}
 h4{
    color: gray;
    font-weight: 700;

}
.row .col .card img{
    height: 50vh;
   
}

footer .row{
    margin: 0 10vw;
}

@media screen and (max-width: 480px) {
    #carouselExampleCaptions, .container{
        width: 100vw;
    }
    
  }
  @media screen and (max-width: 800px) {
    
    .container-fluid{
        flex-direction: column;
    }
  }